.eachprojectCont{
    width: 450px;
    height: 300px;
    border: 2px solid var(--borde);
}

.eachprojectCont:hover{
    border: 2px solid var(--terciario);
}

.technologiesProject{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.technologiesProject i{
    color: var(--borde);
}

.technologiesProject i:hover{
    transform: scale(1.1);
}

.firstCont{
    background-color: var(--boton);
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid var(--borde);
}

.firstCont:hover{
    background-color: var(--terciario);
}

.firstCont p{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--principal);
    font-family: var(--fuente-cuerpo);
}

.secondCont p{
    font-size: .9rem;
    color: var(--resaltado);
    font-family: var(--fuente-cuerpo);
    padding: 5px;
    background-color: var(--background);
    position: absolute;
}

.secondCont p:hover{
    color: var(--terciario);
}

.secondCont{
    height: 65%;
    /* border: 2px solid var(--borde); */
    display: flex;
    justify-content: end;
    align-items: flex-end;
    border-bottom: 2px solid var(--borde);
}

.secondCont img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(.2);
    transition: all .2s ease-in-out;
}

.secondCont img:hover{
    filter: none;
    transition: all .2s ease-in-out;
}

.thirdCont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    border-top: 0;
    background-color: var(--background);
}

.thirdCont svg{
    color: var(--resaltado);
}

.thirdCont svg:nth-child(2):hover, .thirdCont svg:nth-child(1):hover{
    color: var(--terciario);
    cursor: pointer;
}

.tecnologies{
    width: 40px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1000px){
    .secondCont img{
        filter: none;
    }
}

@media screen and (max-width: 560px){
    .eachprojectCont{
        width: 90%;
        height: 200px;
    }

    .firstCont{
        height: 30%;
    }

    .firstCont p{
        font-size: .7rem;
    }

    .secondCont{
        height: 55%;
    }

    .secondCont img{
        object-fit: cover;
        object-position: center;
    }

    .technologiesProject{
        gap: 2px;
    }

    .technologiesProject a i{
        width: 30px;
    }

    .thirdCont{
        height: 15%;
    }
}