:root{
    --background: #16161a;
    --texto-titulo: #fffffe;
    --texto-parrafo: #94a1b2;
    --boton: #7f5af0;
    --boton-texto: #fffffe;
    --borde: #010101;
    --resaltado: #815cf0;
    --secundario: #72757e;
    --terciario: #2cb67d;
    --principal: #fffffe;
    --fuente-titulo: 'Montserrat', sans-serif;
    --fuente-cuerpo: 'Exo', sans-serif;
}

.intro{
    background: var(--background);
    background-image: url(https://t3.ftcdn.net/jpg/05/61/96/84/360_F_561968433_L5Yg1OsXiYAzI1GTEa1TGTSfwOo5AwiQ.png);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.intro::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: 6vh solid var(--secundario);
    border-left: 99vw solid transparent;
}

.titlesPageAbout{
    z-index: 1;
}

.titlePage{
    font-family: var(--fuente-titulo);
    font-weight: bold;
    font-size: 5rem;
    color: var(--texto-titulo);
}

.dotColored{
    color: var(--boton);
    cursor: default;
}

.dotColored:hover{
    text-shadow: 4px 4px 3px var(--borde);
    transition: ease-in-out .3s;
}

.descPage{
    color: var(--texto-parrafo);
    font-family: var(--fuente-cuerpo);
    font-size: 3rem;
}

.infoIntroCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.facts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    z-index: 70;
}


.myPictureCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 1px solid var(--secundario);
    border-radius: 20%;
    padding: 10px;
    z-index: 55;
}

.myPicImg{
    width: 100%;
    height: 100%;
    border-radius: 20%;
    filter: brightness(.3);
    animation: float 6s ease-in-out infinite;
    z-index: 55;
}

.myPictureCont:hover{
    filter: brightness(1);
}

.textIntro{
    font-family: var(--fuente-titulo);
    font-size: 1.4rem;
    color: var(--texto-parrafo);
}


.btnIntro{
    margin: 20px 0;
    padding: 10px 7px;
    border-top: 1px solid var(--secundario);
    font-family: var(--fuente-cuerpo);
    font-size: 1.4rem;
    color: var(--boton);
    background-color: var(--borde);
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 0 0 8px 8px;
}

.btnIntro:hover{
    color: var(--terciario);
}

.closedCont{
    display: none;
}

.openCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

#linkCv{
    border-radius: 8px;
    color: var(--texto-titulo);
    padding: 8px;
    text-decoration: none;
    font-family: var(--fuente-cuerpo);
    font-size: 1rem;
    background-color: var(--boton);
}

#linkCv:hover{
    color: var(--background);
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px var(--secundario);
        transform: translatey(-15px);
        filter: brightness(.9);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}