:root{
    --background: #16161a;
    --texto-titulo: #fffffe;
    --texto-parrafo: #94a1b2;
    --boton: #7f5af0;
    --boton-texto: #fffffe;
    --borde: #010101;
    --resaltado: #7f5af0;
    --secundario: #72757e;
    --terciario: #2cb67d;
    --principal: #fffffe;
    --fuente-titulo: 'Montserrat', sans-serif;
    --fuente-cuerpo: 'Exo', sans-serif;
}

.move{
    border-radius: 0% 98% 96% 0% / 42% 0% 100% 58% ;
    display: flex;
    justify-content: left;
    gap: .5rem;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: transparent;
    transition: 1s ease-in-out;    
    z-index: 100;
}

.navbar{
    border-radius: 0% 98% 96% 0% / 42% 0% 100% 58% ;
    background: var(--borde);
    display: flex;
    justify-content: left;
    gap: 4rem;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 10vh;
    position: fixed;
    transition: 1s ease-in-out;
    z-index: 10;
}

.logoCont{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 60px;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.4, 1.4);
    transition: 1.5s ease-in-out;
}

.seccionesNavCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.seccionesNavCont p{
    background-color: rgba(0, 0, 0, 0.455);
    padding: 10px;
    border-radius: 5px;
    color: var(--resaltado);
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    font-family: var(--fuente-titulo);
    margin: 0 0 0 0 !important;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

#linkNav{
    text-decoration: none;
    color: var(--resaltado);
    transition: .4s ease-in-out;    
}

#linkNav:hover{
    color: var(--terciario);
    transition: .4s ease-in-out;
}

#linkNav:focus{
    color: var(--boton-texto)
}

.seccionesNavResponsive{
    display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px){
    .navbar{
        border-radius: 0;
        justify-content: space-evenly;
        gap: .5rem;
    }

    .move{
        border-radius: 0;
        justify-content: space-evenly;
        background-color: transparent;
        backdrop-filter: blur(4px);
    }

    .logo{
        width: 50px;
    }

    .seccionesNavCont{
        display: none;
    }

    .seccionesNavResponsive{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .seccionesNavResponsive i{
        color: var(--resaltado);
        font-size: 30px;
        background-color: var(--background);
        border-radius: 50%;
        padding: 10px;
    }
}