:root{
    --negro-azulado: #121017;
    --azul-oscuro: #123747;
    --celeste-oscuro: #146983;
    --celeste-claro: #1fa4c9;
    --turquesa: #20dad8;
    --fuente-titulo: 'Vollkorn', serif;
    --fuente-cuerpo: 'Exo', sans-serif;
}
body{
    background-image: linear-gradient(-20deg, #123747 0%, #4e4376 100%);
}

.navbar{
    /* border: 2px solid red; */
    border-radius: 2% 98% 96% 4% / 42% 0% 100% 58% ;
    background-color: var(--negro-azulado);
    display: flex;
    justify-content: left;
    gap: 4rem;
    padding: 1%;
    width: 100%;
    min-height: 13vh;
}

.logoCont{
    width: 10%;
}

.logo{
    width: 80px;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.4, 1.4);
    transition: 1.5s ease-in-out;
}

.seccionesNavCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.seccionesNavCont p{
    color: var(--turquesa);
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    font-family: var(--fuente-titulo);
    margin: 0 0 0 0 !important;
    cursor: pointer;
}
