:root{
    --negro-azulado: #121017;
    --azul-oscuro: #123747;
    --celeste-oscuro: #146983;
    --celeste-claro: #1fa4c9;
    --turquesa: #20dad8;
    --fuente-titulo: 'Vollkorn', serif;
    --fuente-cuerpo: 'Exo', sans-serif;
}

.projects{
    background-color: var(--celeste-oscuro);
}

.dotColored{
    color: var(--turquesa);
}

.titlePage{
    font-family: var(--fuente-titulo);
    font-weight: bold;
    font-size: 5rem;
}

