:root{
    --negro-azulado: #121017;
    --azul-oscuro: #123747;
    --celeste-oscuro: #146983;
    --celeste-claro: #1fa4c9;
    --turquesa: #20dad8;
    --fuente-titulo: 'Vollkorn', serif;
    --fuente-cuerpo: 'Exo', sans-serif;
    }

.footer{
    width: 100%;
    border-top: 2px solid var(--celeste-oscuro);
    min-height: 30vh;
    background-color: var(--azul-oscuro);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoFooterCont{
    width: 250px;
}

.logoFooter{
    width: 100%;
}

.datosFooter{
    width: 500px;
}

.datosFooter ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    margin: 0 !important;
}

.datosFooter ul li{
    display: flex;
    gap: .5rem;
    text-align: start;
    font-family: var(--fuente-cuerpo);
    color: var(--celeste-claro);
}

.datosFooter img{
    width: 25px;
}

.logoFooterDerechaCont{
    width: 250px;
}

.logoFooterDerecha{
    width: 100%;
}