*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #16161a;
    --texto-titulo: #fffffe;
    --texto-parrafo: #94a1b2;
    --boton: #7f5af0;
    --boton-texto: #fffffe;
    --borde: #010101;
    --resaltado: #815cf0;
    --secundario: #72757e;
    --terciario: #2cb67d;
    --principal: #fffffe;
    --fuente-titulo: 'Montserrat', sans-serif;
    --fuente-cuerpo: 'Exo', sans-serif;
}

.aboutMe{
    background-color: var(--secundario);
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.titlePageAbout{
    font-family: var(--fuente-titulo);
    font-weight: bold;
    font-size: 5rem;
    color: var(--background);
}

.techsCont{
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 70%;
    z-index: 1;
}

.techIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: var(--fuente-cuerpo);
    color: var(--background);
    cursor: pointer;
    background-color: #815cf08b;
    padding: 10px;
    border-radius: 15px;
    transition: all .3s ease-in-out;
    box-shadow: 2px 2px 3px var(--borde);
    width: 120px;
    height: 120px;
    text-decoration: none;
    color: var(--background);
}

.techIcon img, .techIcon svg{
    width: 60%;
    color: black;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.techIcon svg:hover, .techIcon img:hover{
    transform: scale(1.15);
    transition: all .3s ease-in-out;
}

.techIcon:hover{
    background-color: var(--resaltado);
    color: var(--background);
    transition: all .3s ease-in-out;
}

.softSkillsCont{
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 70%;
    z-index: 1;
}

.softIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: var(--fuente-cuerpo);
    color: var(--background);
    background-color: #815cf08b;
    padding: 10px;
    border-radius: 15px;
    transition: all .3s ease-in-out;
    width: 150px;
    height: 140px;
    box-shadow: 2px 2px 3px var(--borde);
}

.softIcon img{
    width: 60%;
    color: black;
    transition: .3s ease-in-out;
}

.softIcon:hover{
    background-color: var(--resaltado);
    transition: all .3s ease-in-out;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1000px){
    .aboutMe{
        gap: 3rem;
        padding: 3rem 0;
    }
    
    .titlePageAbout{
        font-size: 3rem;
    }

    .techsCont{
        display: flex;
        gap: 3rem;
        width: 90%;
    }

    .softSkillsCont{
        gap: 3rem;
        width: 90%;
    }
}

@media screen and (max-width: 560px){
    .titlePageAbout{
        font-size: 1.5rem;
    }

    .techsCont{
        gap: 1rem;
        width: 90%;
    }

    .techIcon{
        gap: 5px;
        width: 80px;
        height: 80px;
        font-size: .8rem;
    }
    
    .softSkillsCont{
        gap: 1rem;
    }

    .softIcon{
        gap: 5px;
        padding: 10px;
        width: 110px;
        height: 100px;
        font-size: .8rem;
    }
}